<p id="notice"><%= notice %></p>

<p>
  <strong>User Type:</strong>
  <%= @user.userType %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Contact Number:</strong>
  <%= @user.contactNumber %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
