<%= form_for(@studio) do |f| %>
  <% if @studio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@studio.errors.count, "error") %> prohibited this studio from being saved:</h2>

      <ul>
      <% @studio.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :studioName %><br>
    <%= f.text_field :studioName %>
  </div>
  <div class="field">
    <%= f.label :lunchHours %><br>
    <%= f.time_select :lunchHours %>
  </div>
  <div class="field">
    <%= f.label :numberRooms %><br>
    <%= f.number_field :numberRooms %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
