<p id="notice"><%= notice %></p>

<h1>Listing Studios</h1>

<table>
  <thead>
    <tr>
      <th>Studio Name</th>
      <th>Lunch Hour</th>
      <th>Number Of Rooms</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @studios.each do |studio| %>
      <tr>
        <td><%= studio.studioName %></td>
        <td><%= studio.lunchHours %></td>
        <td><%= studio.numberRooms %></td>
        <td><%= link_to 'Show', studio %></td>
        <td><%= link_to 'Edit', edit_studio_path(studio) %></td>
        <td><%= link_to 'Destroy', studio, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Studio', new_studio_path %>
<%= link_to 'Users', new_user_path %>
<%= link_to 'Sessions', new_session_path %>
