<p id="notice"><%= notice %></p>

<p>
  <strong>Studio Name:</strong>
  <%= @studio.studioName %>
</p>

<p>
  <strong>Lunch Hours:</strong>
  <%= @studio.lunchHours %>
</p>

<p>
  <strong>Number Rooms:</strong>
  <%= @studio.numberRooms %>
</p>

<%= link_to 'Edit', edit_studio_path(@studio) %> |
<%= link_to 'List Studios', studios_path %>
